.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 4px 6px 15px rgb(80, 79, 79);
    list-style: none;
}

.nav-items{
    display: flex;
    justify-content: space-evenly;
    width: 40%;

}